@font-face {
    font-family: 'Lost Tumbler';
    src: url('lost_tumbler/Lost\ Tumbler.otf') format('opentype');
         
}
body {
    background-color: black;
    color: white;
    font-family: 'Lost Tumbler', sans-serif;
}
h1 {
    font-family: 'Lost Tumbler', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    top: 50px;
}
.nav-bar {
    position: absolute;
top: 2px;
background: #2b2b2b;
background: linear-gradient(90deg, rgba(43, 43, 43, 1) 0%, rgba(26, 26, 26, 1) 50%, rgba(43, 43, 43, 1) 100%);
width: 100%;   
height: 40px;
}
.nav-item {
    padding: 5px;
}
